<nav id="sidebar-icon-links">
  {% if site.github.repo %}
    <a id="twitter-link"
       class="icon" title="Follow on Twitter" aria-label="Twitter"
       href="https://twitter.com/ThatDocsLady">
      {% include svg/twitter.svg %}
    </a>
    <a id="github-link"
       class="icon" title="My GitHub Stuff" aria-label="Github"
       href="{{ site.github.repo }}">
      {% include svg/github.svg %}
    </a>
    <a id="email-link"
       class="icon" title="Write to Me" aria-label="Email"
       href="mailto:docs@docsideofthemoon.com">
      {% include svg/email.svg %}
    </a>

  {% endif %}

  {% include custom-icon-links.html %}
</nav>
